
/* ///CRUD ///*/

.crud{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 1em;
    box-sizing: border-box;

    .crud__table, .crud__form{
        min-width: 45%;
        max-width: 45%;
    }
}

.crud__table table{
    background-color: $white;
    width: 100%;
    border-collapse: collapse;

    th{
        font-size: 1.2em;
        background-color: $color-secondary-brightest;
     }

    th, td{
        border: solid 0.1em $black;
        text-align: center;
        padding: 0.5em;
    }
    td{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}


.crud__form{
    width: 100%;
    .error-message{
        background-color: hsl(0, 69%, 53%);
        text-align: center;
        margin-bottom: 1em;
        li{
            color: hsl(0, 0%, 100%);
            padding: 0.5em;
        }
    }
    .crud__form-element{
        margin-bottom: 1em;
        width: 49%;
        display: inline-block;

        .crud__form-label{
            margin-bottom: 1em;
            width: 100%;
        }

        .crud__form-label label,.crud__form-input__check label{
            color: $font-color;
            font-family: $font-stack;
            font-weight: 600;
            font-size: 1em;
            transition: color 0.5s;
            &.input-error{
                color: hsl(0, 69%, 53%);
            }
        }

        .crud__form-label--active label{
            color: $color-primary;
            &.input-error{
                color: hsl(0, 69%, 53%);
            }
        }

        .crud__form-input{
            width: 100%;
        }
        .crud__form-input input,.crud__form-input select{
            height: 2em;
        }
        
        .crud__form-input input, 
        .crud__form-input textarea,
        .crud__form-input select {
            background-color: $white;
            border: none;
            border-bottom: 1px solid $white-darkest;
            box-sizing: border-box;
            color: $black;
            font-family: $font-stack;
            font-weight: 600;
            padding: 0.2em 0.5em;
            width: 100%;
        }

        input[type="date"]::-webkit-calendar-picker-indicator {
            margin-left: -25px;
        }
        
        .crud__form-input-check{
            display: inline-block;
            font-size: 1.2em;
            margin: 0.2em 0;
        }
        
        .crud__form-input [type="checkbox"],.crud__form-input [type="radio"]{
            width: 0.8em;
            height: 0.8em;
            margin: 0 1em 0 0.5em;
            vertical-align: middle;
        }
        
        .crud__form-input input:focus, .crud__form-input textarea:focus{
            outline: none;
        }
        
        .crud__form-input select, .crud__form-input select:focus, .crud__form-input select:active { 
            outline: 0 !important; 
        }
        
        #register-button{
            background-image: linear-gradient(to right, $color-primary-brightest 0%, $color-secondary-darker 50%, $color-primary-brightest 100%);
            background-size: 200% auto;
            border-radius: 0.2em;
            border: none;
            color: $white;
            font-size: 1.2em;
            line-height: 0px;
            margin-top: 1em;
            min-width: 20%;
            padding: 1em 2em;
            transition: 0.5s;
            text-decoration: none;
        }
        
        #register-button:hover{
            background-size: 100% auto;
        }
        
        #register-button:focus {
            outline: 0;
        }
    }
}



