h1, h2, h3, h4, h5, h6, a, p, li, label, span{
    color: $font-color;
}

h1, h2, h3, h4, h5, h6, a, td, th, p, button, label, textarea, span, li{
    font-family: "Overpass";
}

h1 {
    color: $white-darker;
    font-size: 2.5em;
    font-weight: 600;
    text-decoration: none;
}

h2 {
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
}

h4 {
    font-weight: 600;
    text-decoration: none;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    font-weight: 600;
    text-decoration: none;
    transition: 300ms;

    &:focus, &:hover {
        outline: none;
        outline-offset: 0;
        text-decoration: none;
    }
    &:hover p{
        color:$color-secondary;
    }
}





