//typography
$font-stack: 'Overpass';
$font-color: hsl(210, 11%, 15%);

//colors

$color-primary: hsl(229, 40%, 50%);
$color-primary-brighter: hsl(229, 40%, 60%);
$color-primary-brightest: hsl(229, 40%, 70%);
$color-primary-darker: hsl(229, 40%, 40%);
$color-primary-darkest: hsl(229, 40%, 30%);
$color-secondary: hsl(147, 40%, 50%);
$color-secondary-brighter: hsl(147, 40%, 60%);
$color-secondary-brightest: hsl(147, 40%, 70%);
$color-secondary-darker: hsl(147, 40%, 40%);
$color-secondary-darkest: hsl(147, 40%, 30%);

$grey: hsl(0, 0%, 40%);
$black: hsl(0, 0%, 0%);
$black-brighter: hsl(0, 0%, 10%);
$black-brightest: hsl(0, 0%, 20%);
$white: hsl(0, 0%, 100%);
$white-darker: hsl(0, 0%, 90%);
$white-darkest: hsl(0, 0%, 80%);